<p>rest works!</p>
<h1 class="text-center">Employees Data</h1>
<div class="container">
<nav class="navbar">
<input class="form-control" type="text" name="firstName" [(ngModel)] = "firstName" (ngModelChange) ="Search()"
placeholder="Enter First Name to search" >
</nav>
<table class="table table-bordered">
    <thead>
        <tr *ngFor= "let user of Users | orderBy: key: reverse | paginate: { itemsPerPage:1,currentPage:p};">
            <th (click)="sort('id')">User id&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('firstName')">firstName&nbsp;<i class="fa fa-sort"></i></th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let user of Users">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.salary}}</td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)= "p =$event"></pagination-controls>
</table>
</div>
