<div class="container-fluid text-center" style="font-size:larger;background-color:rgb(68, 166, 208)">
    <h1>
        {{title}}!
    </h1>
</div>

<!-- Button to clear selection -->
<!-- <button (click)="clearSelection()">Clear Selection</button> -->
<div class="container text-center">
    <label for="">Filter :</label>
    <input type="text" id="filter-text-box"  class="ms-2" placeholder="Filter..." (input)="onFilterTextBoxChanged()" />
</div><br>
<div class="text-center">
    <button (click)="onBtExport()" class="m-auto btn btn-info" style="margin-bottom: 5px; font-weight: bold;"> Export to
        Excel</button>
    <button (click)="onBtnExport1()" class=" ms-5 btn btn-primary">Download CSV export file</button>
</div><br>
<div class="container-fluid text-center" style="font-size:larger;background-color:rgb(68, 166, 208)">

    SELECTION :

    <span id="selectedRows"></span>

  </div>
  <div class="container text-center" style="font-size:larger;background-color:rgb(186, 235, 143)" >

    <ag-grid-angular style="width: 100%; height: 100vh;" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [paginationPageSize]="paginationPageSize"
        [suppressAggFuncInHeader]="true"
        [rowSelection]="rowSelection"
        [autoGroupColumnDef]="autoGroupColumnDef"
        [rowData]="rowData"
        (selectionChanged)="onSelectionChanged()"
        (gridReady)="onGridReady($event)"  
        ></ag-grid-angular>

        <!-- if we want the multi selection with one click  -->

      <!-- [rowMultiSelectWithClick]="true" -->

</div>

<!-- <div class="container">
    <ag-grid-angular style="width: 1000px; height: 100vh;" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [rowData]="rowData" (gridReady)="onGridReady($event)" 
        [paginationPageSize]="paginationPageSize"
        [suppressAggFuncInHeader]="true"
    
        [autoGroupColumnDef]="autoGroupColumnDef">
    </ag-grid-angular>
</div> -->



